{% extends "backend/base.html" %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">{{ item.name }}</h1>
                    </div>
                </div>
                <div class="level-right">
                    {% if item.owner == user %}
                        <div class="level-item">
                            <div class="buttons">
                                <a href="{% url 'item_update' item.pk %}" class="button is-primary">Update</a>
                                <a href="{% url 'item_delete' item.pk %}" class="button is-danger">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <p class="subtitle">Owned by: {{ item.owner.username }}</p>

            {% if item.owner != user %}
                <section class="py-4">
                    <p class="title is-4">Want to borrow?</p>
                    <div class="box">
                        <div class="columns is-vcentered">
                            <div class="column">
                                <p class="is-size-5">Hi {{ item.owner.username|title }}, I discovered {{ item.name }}
                                    through Closeknit and would like to borrow it. Let me know it is possible!</p>
                            </div>
                            <div class="column is-narrow">
                                <button class="button is-info js-share-button">
                                    <span>Message {{ item.owner.username|title }}!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        </div>
    </section>

    {% if item.owner != user %}
        <script>
            document.querySelector('.js-share-button').addEventListener('click', function () {
                if (navigator.share) {
                    navigator.share({
                        title: 'Lend Request for {{ item.name }}',
                        text: 'Hi {{ item.owner.username|title }}, I discovered {{ item.name }} through Closeknit and would like to borrow it. Let me know it is possible!',
                        url: window.location.href
                    }).then(() => console.log('Share successful'))
                        .catch((error) => console.log('Error sharing:', error));
                } else {
                    alert('Web Share API not supported on this browser. Please copy the URL and send it manually.');
                }
            });
        </script>
    {% endif %}
{% endblock %}