{% extends 'backend/base.html' %}

{% block content %}
    <section class="section">
        <div>
            <h1 class="title">Items</h1>

            <section>
                <a href="{% url 'item_add' %}" class="button is-primary">
                    <span>+ Add</span>
                </a>
                <a href="{% url 'lease_add' %}" class="button is-link ml-2">
                    <span>Lent? Record it here</span>
                </a>
            </section>

            {% if items.owned %}
                <section class="pt-4">
                    <h2 class="title is-4">Owned</h2>
                    {% include 'backend/_partials/item_listing.html' with items=items.owned user=user %}
                </section>
            {% endif %}

            {% if items.leased %}
                <section class="pt-4">
                    <h2 class="title is-4">Borrowed</h2>
                    {% include 'backend/_partials/lease_listing.html' with items=items.leased user=user %}
                </section>
            {% endif %}

            {% if items.leased_out %}
                <section class="mt-5">
                    <h2 class="title is-4">Lent</h2>
                    {% include 'backend/_partials/lease_listing.html' with items=items.leased_out user=user %}
                </section>
            {% endif %}

        </div>
    </section>
{% endblock %}