{% extends 'backend/base.html' %}

{% block content %}
    <h1>items</h1>
    <section>
        <a href="{% url 'item_add' %}">add your item?</a>
        <br/>
        <a href="{% url 'lease_add' %}">register a borrow?</a>
    </section>
    {% if items.owned %}
        <section>
            <h2>owned</h2>
            <ul>
                {% for item in items.owned %}
                    <li>
                        {{ item.name }}
                        <a href="{% url 'item_update' item.pk %}">update</a>
                        <a href="{% url 'item_delete' item.pk %}">delete</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if items.leased %}
        <section>
            <h2>borrowed</h2>
            <ul>
                {% for l in items.leased %}
                    <li>{{ l.item.name }} lent by {{ l.item.owner }} from {{ l.start_date }} to {{ l.end_date }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if items.leased_out %}
        <section>
            <h2>lent</h2>
            <ul>
                {% for l in items.leased_out %}
                    <li>
                        {{ l.item.name }} lent to {{ l.leasee }} from {{ l.start_date }} to {{ l.end_date }}
                        <a href="{% url 'lease_update' l.pk %}">update</a>
                        <a href="{% url 'lease_delete' l.pk %}">delete</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}