<div class="columns is-multiline">
    {% for item in items %}
        <a href="{% url 'item_update' item.pk %}">
            <div class="column is-one-third pl-0">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4 mb-1">{{ item.name | title }}</p>
                        <p>From <em>{{ item.owner | title }}</em></p>
                        <span class="tag is-info">
                        {{ item.get_item_type_display }}
                    </span>
                        {% if item.owner == user %}
                            <div class="column is-narrow has-text-right">
                                <a href="{% url 'item_delete' item.pk %}" class="button is-danger is-small">
                                    Delete
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>