<div class="columns is-multiline is-variable is-2">
    {% for subscription in subscriptions %}
        <div class="column is-one-third">
            <div class="box p-3 has-background-white">
                <a href="{% url 'subscription_detail' subscription.pk %}" class="has-text-dark">
                    <h3 class="title is-5 mb-2">{{ subscription.name | title }}</h3>
                    <p class="is-size-7 has-text-grey">Shared by {{ subscription.owner | title }}</p>
                    <div class="is-flex is-justify-content-space-between is-align-items-center mt-2">
                        <span class="tag is-success is-light is-uppercase">
                            Subscription
                        </span>
                        {% if subscription.owner == user %}
                            <div class="is-flex is-gap-2">
                                <a href="{% url 'subscription_update' subscription.pk %}" 
                                   class="button is-small is-info is-light">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                <a href="{% url 'subscription_delete' subscription.pk %}" 
                                   class="button is-small is-danger is-light">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
