{% extends "backend/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Create Invite for {{ community.name }}</h1>
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Create Invite Link</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}