{% extends 'backend/base.html' %}

{% block content %}
    <div>
        <section>
            <h1 class="title is-3">Your Subscriptions</h1>
            <div class="mb-4">
                <a href="{% url 'subscription_add' %}" class="button is-primary">
                    <span>+ Add</span>
                </a>
            </div>

            {% if subscriptions.owned %}
                <ul class="list is-hoverable">
                    {% for sub in subscriptions.owned %}
                        <li class="box">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    {{ sub.name|title }}
                                </div>
                                <div class="column is-narrow has-text-right">
                                    <a href="{% url 'subscription_update' sub.pk %}"
                                       class="button is-info is-small">
                                        Update
                                    </a>
                                    <a href="{% url 'subscription_delete' sub.pk %}"
                                       class="button is-danger is-small">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No subscriptions available.</p>
            {% endif %}
        </section>

        {% if subscriptions.shared %}
            <section>
                <h1 class="title is-3">Shared Subscriptions</h1>
                <ul class="list is-hoverable">
                    {% for sub in subscriptions.shared %}
                        <li class="box">
                            <p>
                                <strong>{{ sub.name }}</strong> by <em>{{ sub.owner }}</em>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>
{% endblock %}