{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <div>
        <section class="section">
            <h1 class="title is-3">Add Member to {{ community.name }}</h1>

            <a href="{% url 'send_invite' community.id %}" class="button is-primary mt-4">
                Send an Invite Link?
            </a>
        </section>

        <div class="section">
            <h1 class="title is-4">Invite with username?</h1>

            <form method="post" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="button is-primary">Add</button>
            </form>
        </div>
    </div>
{% endblock %}