{% extends 'backend/base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-2 has-text-centered">{{ community_name|title }}</h1>
            <p class="subtitle has-text-centered">Created by {{ created_by|title }}</p>

            {% if community_owner == user %}
                <div class="buttons is-centered">
                    <a href="{% url 'community_update' pk %}" class="button is-primary">
                        <span>Edit</span>
                    </a>
                    <a href="{% url 'community_delete' pk %}" class="button is-danger">
                        <span>Delete</span>
                    </a>
                </div>
            {% endif %}

            {% if shared_items_count < 3 %}
                <a href="{% url 'item_add' %}">
                    <article class="message is-info">
                        <div class="message-header">
                            <p class="title is-4">Share at least three items to start inviting people!</p>
                        </div>
                        <div class="message-body">
                            Closeknit is all about sharing.
                            We don't want your friends/family to join an empty community!
                        </div>
                    </article>
                </a>
            {% else %}

                <section class="py-4">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" id="invite-link" value="{{ invite_link }}" readonly>
                        </div>
                        <div class="control">
                            <button class="button is-primary" onclick="copyInviteLink()">
                                <span>Copy Invite Link</span>
                            </button>
                        </div>
                    </div>
                </section>
            {% endif %}




            <div class="columns is-centered has-text-centered">
                <div class="column">
                    <div class="notification is-primary">
                        <p class="heading">Members</p>
                        <p class="title">{{ member_count }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="notification is-info">
                        <p class="heading">Shared Items</p>
                        <p class="title">{{ shared_items_count }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="notification is-success">
                        <p class="heading">Shared Subscriptions</p>
                        <p class="title">{{ shared_subscriptions_count }}</p>
                    </div>
                </div>
            </div>

            <div class="content">
                <h2 class="title is-4">Community Members</h2>
                <div class="columns is-multiline is-mobile">
                    {% for member in members %}
                        <div class="column is-one-quarter-tablet is-half-mobile is-one-fifth-desktop">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-128x128 mx-auto mt-4">
                                        <img src="{{ member.profile_picture }}"
                                             alt="{{ member.username }}">
                                    </figure>
                                </div>
                                <div class="card-content has-text-centered">
                                    <p class="title is-6">{{ member.username }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if shared_items %}
                <div class="content">
                    <h2 class="title is-4">Shared Items by community members</h2>
                    {% include 'backend/_partials/item_listing.html' with items=shared_items %}
                </div>
            {% endif %}

            {% if shared_subscriptions %}
                <div class="content">
                    <h2 class="title is-4">Shared Subscriptions by community members</h2>
                    {% include 'backend/_partials/subscription_listing.html' with subscriptions=shared_subscriptions %}
                </div>
            {% endif %}

        </div>
    </section>



    <script>
        function copyInviteLink() {
            const copyText = document.getElementById("invite-link");
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand("copy");

            // Optional: Provide feedback to the user
            alert("Invite link copied to clipboard!");
        }
    </script>
{% endblock %}