{% extends 'backend/base.html' %}

{% block content %}
    <h1>communities</h1>
    <p>
        <a href="{% url 'community_add' %}">create community</a>
    </p>
    <section>
        {% if communities.owned %}
            <h3>communities you created</h3>
            <ul>
                {% for community in communities.owned %}
                    <li>
                        {{ community.name }}
                        <a href="{% url 'community_add_member' community.id %}">add member</a>
                        <a href="{% url 'community_update' community.id %}">update</a>
                        <a href="{% url 'community_delete' community.id %}">delete</a>
                        {% if community.members %}
                            <ul>
                                {% for member in community.members.all %}
                                    <li>{{ member.username }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if communities.shared %}
            <h3>communities you are a member of</h3>
            <ul>
                {% for community in communities.shared %}
                    <li>
                        {{ community.name }} (run by {{ community.owner.username }})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}