<!doctype html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block title %}<title>Tribepool</title>{% endblock %}
</head>

<body>
<main class="container is-fluid p-0">
    <nav class="navbar px-4" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item logo" href="{% url 'index' %}">
                Tribepool
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'subscription_list' %}">Subscriptions</a>
                    <a class="navbar-item" href="{% url 'item_list' %}">Items</a>
                    <a class="navbar-item" href="{% url 'community_list' %}">Communities</a>
                    <a class="navbar-item" href="{% url 'subscription_discover' %}">Discover</a>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <a class="button is-light" href="{% url 'custom_logout' %}">
                                Log out
                            </a>
                        {% else %}
                            <a class="button is-primary" href="{% url 'signup' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Log in
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section>
        {% block content %}{% endblock %}
    </section>
</main>
</body>

{% block scripts %}
    <script>
        $(document).ready(function () {
            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });
    </script>
{% endblock %}
</html>