{% extends 'backend/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="title is-3">Discover</h1>
        {% if discover.subscriptions or discover.items %}
            <p class="content is-underlined">
                Feel free to walk up to the owner and request sharing!
            </p>
            <p class="content"></p>

            {% if discover.subscriptions %}
                <section class="mt-4">
                    <h2 class="title is-4">Subscriptions</h2>
                    <ul class="list is-hoverable">
                        {% for sub in discover.subscriptions %}
                            <li class="box">
                                <strong>{{ sub.name }}</strong> by <em>{{ sub.owner }}</em>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if discover.items %}
                <section class="mt-4">
                    <h2 class="title is-4">Items</h2>
                    <ul class="list is-hoverable">
                        {% for item in discover.items %}
                            <li class="box">
                                <strong>{{ item.name }}</strong> by <em>{{ item.owner }}</em>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

        {% else %}
            <p class="content">
                No subscriptions or items available unfortunately.
            </p>
        {% endif %}
    </div>
{% endblock %}