{% extends 'backend/base.html' %}

{% block content %}
    <section class="section">
        <h1 class="title is-3">Discover</h1>
        {% if discover.subscriptions or discover.items %}
            <p class="content is-underlined">
                Feel free to ping the owner and request for sharing!
            </p>
            <p class="content"></p>

            {% if discover.subscriptions %}
                <section class="mt-4">
                    <h2 class="title is-4">Subscriptions</h2>
                    {% include 'backend/_partials/subscription_listing.html' with subscriptions=discover.subscriptions %}
                </section>
            {% endif %}

            {% if discover.items %}
                <section class="mt-4">
                    <h2 class="title is-4">Items</h2>
                    {% include 'backend/_partials/item_listing.html' with items=discover.items %}
                </section>
            {% endif %}

        {% else %}
            <p class="content">
                No subscriptions or items available unfortunately.
            </p>
        {% endif %}
    </section>
{% endblock %}