{% extends 'backend/base.html' %}

{% block title %}<title>Subscriptions</title>{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section class="section">
            <div class="container">
                <h1 class="title is-2 has-text-centered">
                    Welcome back to Closeknit!
                </h1>
                <p class="subtitle is-4 has-text-centered">
                    Your sharing community is thriving. Here's what's new:
                </p>

                {% if items_available_for_lease %}
                    <section class="py-4">
                        <h2 class="title is-4">Items available from your communities</h2>
                        {% include 'backend/_partials/item_listing.html' with items=items_available_for_lease %}
                    </section>
                {% endif %}

                {% if  subscriptions_available_for_share %}
                    <section class="py-4">
                        <h2 class="title is-4">Subscriptions available from your communities</h2>
                        {% include 'backend/_partials/subscription_listing.html' with subscriptions=subscriptions_available_for_share %}
                    </section>
                {% endif %}

            </div>
        </section>
    {% else %}
        {% include 'backend/_partials/landing_page.html' %}
    {% endif %}
{% endblock %}
