{% extends 'backend/base.html' %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <div class="box">
                        <figure class="image is-128x128 mb-4 mx-auto">
                            <img class="is-rounded" src="{{ user_profile_picture }}" alt="Profile picture">
                        </figure>
                        <h1 class="title is-4 has-text-centered">{{ user_name | title }}</h1>
                        <p class="has-text-centered">Email: {{ user_email }}</p>
                    </div>
                </div>
                <div class="column is-9">
                    <div class="box">
                        <h2 class="title is-4">Communities</h2>
                        <div class="tags">
                            {% for community in communities_the_user_is_part_of %}
                                <span class="tag subtitle">{{ community }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box">
                        <h2 class="title is-4">Shared Items</h2>
                        <p class="is-size-5 mb-3">
                            Number of items shared: <strong>{{ items_of_user_count }}</strong>
                        </p>
                        <a href="{% url 'item_list' %}" class="button is-primary">Manage Items</a>
                    </div>
                    <div class="box">
                        <h2 class="title is-4">Shared Subscriptions</h2>
                        <p class="is-size-5 mb-3">
                            Number of subscriptions shared: <strong>{{ subscriptions_of_user_count }}</strong>
                        </p>
                        <a href="{% url 'subscription_list' %}" class="button is-primary">Manage Subscriptions</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}