{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <section class="section">
        <div class="container">

            {% if view == 'add' %}
                <h1 class="title is-3">Record what you have lent</h1>
                <form method="post" class="form">{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="button is-primary">Add</button>
                </form>

            {% elif view == 'update' %}
                <h1 class="title is-3">Update</h1>
                <form method="post" class="form">{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="button is-info">Save</button>
                </form>

            {% elif view == 'delete' %}
                <h1 class="title is-3">Delete</h1>
                <article class="message is-danger">
                    <div class="message-body">
                        Are you sure you want to delete "<strong>{{ object }}</strong>"?
                    </div>
                </article>
                <form method="post" class="form">{% csrf_token %}
                    <button type="submit" class="button is-danger">Confirm</button>
                </form>
            {% endif %}

        </div>
    </section>
{% endblock %}