{% extends 'backend/base.html' %}

{% block title %}<title>Leases</title>{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-3">Your Leases</h1>

            <section class="mb-5">
                <a href="{% url 'lease_add' %}" class="button is-primary">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                    <span>Add a new lease?</span>
                </a>
            </section>

            {% if leases.owned %}
                <ul class="list is-hoverable">
                    {% for lease in leases.owned %}
                        <li class="box">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <strong>{{ lease.name }}</strong>
                                </div>
                                <div class="column is-narrow has-text-right">
                                    <a href="{% url 'lease_update' lease.pk %}" class="button is-info is-small">
                                        Update
                                    </a>
                                    <a href="{% url 'lease_delete' lease.pk %}" class="button is-danger is-small">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No leases available.</p>
            {% endif %}

            {% if leases.shared %}
                <section class="mt-5">
                    <h2 class="title is-4">Shared Leases</h2>
                    <ul class="list is-hoverable">
                        {% for lease in leases.shared %}
                            <li class="box">
                                <strong>{{ lease.name }}</strong> by <em>{{ lease.owner }}</em>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        </div>
    </section>
{% endblock %}